<a href="https://colab.research.google.com/github/LuanPCunha/TCC/blob/main/RotinasDeLimpezaDaBaseDeDados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Base de Dados Twitter

An√°lise da base de dados do Twitter com linguagem ofensiva

Pr√© - Processamento do texto

Classifica√ß√£o

Import e instala√ß√£o das bibliotecas necess√°rias

In [ ]:
#Install e downloads
!pip install emoji
!pip install pandas
!pip install nltk
#nltk.download('all-nltk') #Demora um pouco

Requirement already satisfied: emoji in /usr/local/lib/python3.7/dist-packages (1.6.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [ ]:
#Imports
import pandas as pd
from nltk.tokenize import RegexpTokenizer
import re
import itertools

In [ ]:
# Defini√ß√£o de constantes

# Padr√£o RegEx
PADRAO_PALAVRAS_PT = r'[a-zA-Z√†-√∫√Ä-√ö0-9]+'

# Quantidade tokens tweets pequeno
QUANT_TOKENS_MIN = 5

########## PATHS DE ARQUIVOS ##########
# Base completa bruta
PATH_BASE_COMPLETA_BRUTA = r"/content/drive/MyDrive/TCC/dados/tweets_coletados/base80k.csv"

# Base teste bruta
PATH_BASE_TESTE_BRUTA = r"/content/drive/MyDrive/TCC/dados/tweets_coletados/base_teste.csv"

# Dicion√°rio de palavr√µes
PATH_DICT_PALAVROES = r"/content/drive/MyDrive/TCC/dados/dicionarios/badword_list.csv"

# Dicion√°rio de internetes
PATH_DICT_INTERNETES = r"/content/drive/MyDrive/TCC/dados/dicionarios/internetes_list.csv"

# Dicion√°rio de estados
PATH_DICT_ESTADOS = r"/content/drive/MyDrive/TCC/dados/dicionarios/estados_list.csv"

# Dicion√°rio de express√µes contra√≠das
PATH_DICT_EXPRESSOES = r"/content/drive/MyDrive/TCC/dados/dicionarios/dict_hate_contraidos.csv"

# Lista de vogais duplicadas
PATH_LIST_VOGAIS_DUPLICADAS = r"/content/drive/MyDrive/TCC/dados/dicionarios/vogais_duplicadas.csv"

In [ ]:
#Carrega a base de dados
baseTweets = pd.read_csv(PATH_BASE_TESTE_BRUTA, index_col=0)
baseTweets.head()

                id_str  ...         place.full_name
0  1037067688953167879  ...  Rio de Janeiro, Brazil
1  1101497244325502977  ...     Divin√≥polis, Brasil
2  1085552210191233025  ...  Rio de Janeiro, Brazil
3  1151869182373482501  ...       Fortaleza, Brazil
4  1148607640383217664  ...         Bigua√ßu, Brasil

[5 rows x 5 columns]

In [ ]:
baseTweets.shape

Fase 1
Defini√ß√£o das fun√ß√µes usadas na limpeza Etapas:

1 Remover men√ß√µes (Remover @fulano)
2 Remover caracteres especiais Remover caracteres de pontua√ß√£o
3 Remover emojis
4 Expandir internet√™s
5 Normalizar nomes de estados (SP->S√£o Paulo)
6 Retirar letras repetidas
7 Remover tweets com <5 tokens
8 Remover tweets repetidos (texto id√™ntico)

In [ ]:
# Main
def pre_processamento(coluna_text):
    baseTweets['text_limpo'] = coluna_text # Inicializa nova coluna
    indice = 0
    tokenizer = RegexpTokenizer(PADRAO_PALAVRAS_PT)
    dict_internetes = pd.read_csv(PATH_DICT_INTERNETES)
    dict_estados = pd.read_csv(PATH_DICT_ESTADOS)
    dict_expressoes = pd.read_csv(PATH_DICT_EXPRESSOES, encoding='latin-1')
    list_vogais_duplicadas = pd.read_csv(PATH_LIST_VOGAIS_DUPLICADAS)
    for text in coluna_text:
        text = remover_mencao(text.lower()) # Remover men√ß√µes
        text = re.sub(r'http\S+', '', text) # Remover links
        tokens = tokenizer.tokenize(text) # Remover caracteres especiais, pontua√ß√£o e emojis
        tokens = expandir_sigla(tokens,dict_internetes) # Expandir Internetes
        tokens = expandir_sigla(tokens,dict_estados) # Normalizar nomes de estado
        tokens = remover_letras_repetidas(tokens, list_vogais_duplicadas) # Retirar letras repetidas
        tokens = seta_tweet_pequeno_para_um(tokens) # Marca tweets pequenos

        text_limpo = " ".join(tokens)
        baseTweets['text_limpo'][indice] = text_limpo

        indice+=1 # Incrementa contador

    # Remover tweets marcados como pequenos e remove tweets repetidos(texto id√™ntico) 
    baseTweets.drop_duplicates(subset='text_limpo', keep=False, inplace=True)
    #baseTweets.reset_index(inplace=True)

    # apaga as linhas com o texto = '1'
    indexNames = baseTweets[ baseTweets['text_limpo'] == '1' ].index    
    baseTweets.drop(indexNames , inplace=True)


# Remover men√ß√µes   
def remover_mencao(tweet):
    tweet_sem_mencao = re.sub(r'[@]\w+', '', tweet)
    tweet_sem_mencao = " ".join(tweet_sem_mencao.split()) # Remover espa√ßos a mais
    return tweet_sem_mencao

# ESSA FUN√á√ÉO √â CASE-SENSITIVE
def expandir_sigla(tokens, dicionario):
    dicionario_py = dicionario.to_dict() # Converte Dataframe para dicion√°rio python
    keys = list(dicionario_py.keys()) # Dicion√°rio de 2 colunas: chave, valor
    tokenizer = RegexpTokenizer(PADRAO_PALAVRAS_PT)
    indice = 0
    for sigla in dicionario_py[keys[0]].values():
        if sigla in tokens:
            text = " ".join(tokens) # Agrupa os tokens formando o texto do tweet
            significado = dicionario_py[keys[1]][indice]
            text = re.sub(r'^' + sigla + '\s', significado + ' ',text) # Substitui no in√≠cio
            text = re.sub(r'\s' + sigla + '$',' '+ significado,text) # Substitui no final
            text = re.sub(r'\s' + sigla + '\s', ' '+significado+ ' ',text) #Substitui no meio
            tokens = tokenizer.tokenize(text) # Tokeniza o texto do tweet ap√≥s troca
            #print(tokens)

        indice+=1 # Incremento do contador
    return tokens

# Retirar letras repetidas
def remover_letras_repetidas(tokens, lista):
    lista = list(lista['vogais_duplicadas'])
    tokens_sem_letras_repetidas = []
    for token in tokens:
        flag = True
        if token not in lista: # Se for uma palavra com vogais dobradas n√£o modifica o token
            for i in range(len(token)):
                # Se tiver "rr" ou "ss" n√£o modifica o token
                try:
                    if (token[i].lower()=='r' and token[i+1].lower()=='r') or\
                        (token[i].lower()=='s' and token[i+1].lower()=='s'):
                        flag = False
                        break
                except:
                    break
            if flag:
                # Remove letras repetidas
                token = ''.join(c[0] for c in itertools.groupby(token))
        tokens_sem_letras_repetidas.append(token)
    return tokens_sem_letras_repetidas

# Marca tweets pequenos
def seta_tweet_pequeno_para_um(tokens):
    if len(tokens)<QUANT_TOKENS_MIN:
        tokens = '1'
    return tokens

In [ ]:
# Aplicar pr√© processamento na base
pre_processamento(baseTweets['text'])
baseTweets.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   index  ...                                         text_limpo
0      0  ...            o famoso deus me livre mas quem me dera
1      1  ...  eu estou ficando maluco ou o weverton do palme...
2      2  ...  hoje sambinha de quarta hashtag bar seabra fil...
3      3  ...  2017 de primeira achei feio talvez por ser mei...
4      5  ...                   p muito chato mas eu gosto muito

[5 rows x 7 columns]

In [ ]:
baseTweets.shape

In [ ]:
baseTweets.to_csv('Base1_Com_StopWords.csv') #Salva base limpa

Fase 2
remover stopswords

In [ ]:
# O arquivo "portuguese" contem Stopwords em Portugues
Sw = open('/content/drive/MyDrive/TCC/dados/dicionarios/portuguese.txt','r',encoding='utf-8')
ptBr_stopwords = Sw.read()

In [ ]:
baseTweets['text_cleanStopWords'] = baseTweets['text_limpo'].apply(lambda x: ' '.join([word for word in x.split() if word not in (ptBr_stopwords)]))
baseTweets.head()

   index  ...                                text_cleanStopWords
0      0  ...                             famoso deus livre dera
1      1  ...  ficando maluco weverton palmeiras convocado se...
2      2  ...  sambinha quarta hashtag bar seabra filho sexta...
3      3  ...  2017 achei feio talvez meio diferente demorei ...
4      5  ...                                        chato gosto

[5 rows x 8 columns]

In [ ]:
baseTweets.to_csv('Base2_Sem_StopWords.csv') #Salva base limpa