<a href="https://colab.research.google.com/github/LuanPCunha/TCC/blob/main/RotinaDeClassificacaoDaBaseDeDados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Base de Dados Twitter

Análise da base de dados do Twitter com linguagem ofensiva

Classificação

Import e instalação das bibliotecas necessárias

In [ ]:
#Install e downloads
!pip install emoji
!pip install pandas
!pip install nltk
#nltk.download('all-nltk') #Demora um pouco

Collecting emoji
  Downloading emoji-1.6.3.tar.gz (174 kB)
     |████████████████████████████████| 174 kB 5.0 MB/s
Building wheels for collected packages: emoji
  Building wheel for emoji (setup.py) ... done
  Created wheel for emoji: filename=emoji-1.6.3-py3-none-any.whl size=170298 sha256=886a89fb63bb6410726f954cbf686cbea04905ea4aa4faf8da21e3fe3d35b6ee
  Stored in directory: /root/.cache/pip/wheels/03/8b/d7/ad579fbef83c287215c0caab60fb0ae0f30c4d7ce5f580eade
Successfully built emoji
Installing collected packages: emoji
Successfully installed emoji-1.6.3
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [2]:
#Imports
import pandas as pd
from nltk.tokenize import RegexpTokenizer
import re
import itertools

In [39]:
# Padrão RegEx
PADRAO_PALAVRAS_PT = r'[a-zA-Zà-úÀ-Ú0-9]+'

########## PATHS DE ARQUIVOS ##########

# Base após pré-processamento COM stopwords (Base 1)
PATH_BASE1_COM_STOPWORDS = r"/content/drive/MyDrive/TCC/dados/processadas/Base1_Com_StopWords.csv"  

# Base após pré-processamento SEM stopwords (Base 2)
PATH_BASE2_SEM_STOPWORDS = r"/content/drive/MyDrive/TCC/dados/processadas/Base2_Sem_StopWords.csv"

# Amostra Base 1
PATH_TESTE_BASE1 = r"/content/drive/MyDrive/TCC/dados/processadas/Teste_Base1_Com_StopWords.csv"  

# Amostra Base 2
PATH_TESTE_BASE2 = r"/content/drive/MyDrive/TCC/dados/processadas/Teste_Base2_Sem_StopWords.csv"

# Lista de Hates
PATH_LIST_HATE_EXPRESSIONS_PT_BR = r"/content/drive/MyDrive/TCC/dados/dicionarios/odio_list.csv"

# Lista de Palavrões
PATH_LIST_BADWORDS_EXPRESSIONS_PT_BR = r"/content/drive/MyDrive/TCC/dados/dicionarios/badword_list.csv"

In [43]:
#Carrega a base de dados com stopWords
#base1 = pd.read_csv(PATH_BASE1_COM_STOPWORDS, index_col=0)
base1 = pd.read_csv(PATH_TESTE_BASE1, index_col=0)
base1.head()

                id_str  ...                                         text_limpo
0  1037067688953167879  ...            o famoso deus me livre mas quem me dera
1  1101497244325502977  ...  eu estou ficando maluco ou o weverton do palme...
2  1085552210191233025  ...  hoje sambinha de quarta hashtag bar seabra fil...
3  1151869182373482501  ...  2017 de primeira achei feio talvez por ser mei...
5  1074695634513469440  ...                   p muito chato mas eu gosto muito

[5 rows x 6 columns]

In [5]:
#Carrega a base de dados sem stopWords
#base2= pd.read_csv(PATH_BASE2_SEM_STOPWORDS, index_col=0)
base2= pd.read_csv(PATH_TESTE_BASE2, index_col=0)
base2.head()

                id_str  ...                                text_cleanStopWords
0  1037067688953167879  ...                             famoso deus livre dera
1  1101497244325502977  ...  ficando maluco weverton palmeiras convocado se...
2  1085552210191233025  ...  sambinha quarta hashtag bar seabra filho sexta...
3  1151869182373482501  ...  2017 achei feio talvez meio diferente demorei ...
5  1074695634513469440  ...                                        chato gosto

[5 rows x 7 columns]

In [6]:
base1.shape

(773, 6)

In [7]:
base2.shape

(773, 7)

Classificação Hate, Hate+ e outros

In [8]:
# Carrega dicionário hate
dict_hate = pd.read_csv(PATH_LIST_HATE_EXPRESSIONS_PT_BR)
dict_hate.head(5)

        hatelist
0      aberração
1       abestado
2    abestalhado
3         aborto
4  acabouamamata

In [41]:
# Carrega dicionário badword
dict_badword = pd.read_csv(PATH_LIST_BADWORDS_EXPRESSIONS_PT_BR)
dict_badword.head(5)

  badword_list
0       babaca
1       boceta
2      boquete
3      bosseta
4       buceta

In [37]:
# Definição da função de classificação

def classifica(tweet, dicionario, LABEL1, LABEL2):
  # Tokeniza o tweet  
  tokenizer = RegexpTokenizer(PADRAO_PALAVRAS_PT)
  tokens = tokenizer.tokenize(tweet)
  
  chave = dicionario.keys()[0]

  lista = list(dicionario[chave])
  lista_expressoes = []

  # Gera lista de expressões
  for termo in lista:
    termo_tokens = tokenizer.tokenize(termo)
    if(len(termo_tokens)>1): #expressoes
      lista_expressoes.append(termo)

  # Verifica se o tweet possui ao menos uma PALAVRA de hate
  for token in tokens:
    if token in lista:
      return LABEL1

  # Verifica se o tweet possui ao menos uma EXPRESSÃO de hate
  for palavra in lista_expressoes:
    result = re.subn(r'^' + palavra + '\s', palavra + ' ', tweet) # Substitui no início
    if(result[1]):
      break
    result = re.subn(r'\s' + palavra + '$',' '+ palavra, tweet) # Substitui no final
    if(result[1]):
      break
    result = re.subn(r'\s' + palavra + '\s', ' '+palavra+ ' ', tweet) #Substitui no meio
    if(result[1]):
      break

  if(result[1]):
    return LABEL1
  else:
    return LABEL2

In [44]:
# CLASSIFICAÇÃO HATE
# Executa a classificação na base 1
base1['classificacao_hate'] = base1['text_limpo'].apply(lambda x: classifica(x,dict_hate,"hate","not_hate"))
base1.head()

                id_str  ... classificacao_hate
0  1037067688953167879  ...           not_hate
1  1101497244325502977  ...           not_hate
2  1085552210191233025  ...           not_hate
3  1151869182373482501  ...               hate
5  1074695634513469440  ...           not_hate

[5 rows x 7 columns]

In [19]:
# Salva a base1
base1.to_csv("base1_classificada.csv")

In [45]:
# Pega só tweets not_hate
base1_not_hate = base1[ base1['classificacao_hate']=='not_hate' ]

In [46]:
# CLASSIFICAÇÃO BADWORD
# Executa a classificação na base 1
base1_not_hate['classificacao_badword'] = base1_not_hate['text_limpo'].apply(lambda x: classifica(x,dict_badword,"badword","not badword"))
base1_not_hate.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                id_str  ... classificacao_badword
0  1037067688953167879  ...           not badword
1  1101497244325502977  ...           not badword
2  1085552210191233025  ...           not badword
5  1074695634513469440  ...           not badword
7  1347036901883211778  ...           not badword

[5 rows x 8 columns]

In [47]:
# Salva a base1
base1_not_hate.to_csv("base1_classificada2.csv")